//-  Footer

footer
    .inner.background
        .ftco-footer
            ul.icons
                li
                    a.icon(href='#')
                    i.fab.fa-twitter
                li
                    a.icon(href='#')
                    i.fab.fa-instagram
                li
                    a.icon(href='#')
                    i.fab.fa-github
                li
                    a.icon(href='#')
                    i.fab.fa-linkedin-in
                li
                    a.icon(href='#')
                    i.fab.fa-facebook-square
            ul.copyright
                li 
                    p &#x1F44B;
                li Copyright &copy; 2020 All rights reserved 
                li
                    i.fas.fa-heart
                    | Design by :
                    a(href='') Sky