extends layout.pug

block style
    link(rel='stylesheet', href='../static/css/contact.css')
    link(rel='stylesheet', href='../static/css/style.css')
    link(rel='stylesheet', href='../static/css/notifications.css')
block nav
    include includes/nav.pug
block content
    include includes/notif.pug
    section#Contact.Contact-section
        .contact_information
            .adress_cont
                .info_cont
                    i.fas.fa-map-marked-alt
                    h4 Address
                    p Lorem ipsum dolor sit amet
            .adress_cont
                .info_cont
                    i.fas.fa-phone
                    h4 0011 234 56789
                    p Mon-Fri 8:30AM-6:30PM
            .adress_cont
                .info_cont
                    i.fas.fa-envelope
                    h4 Example@gmail.com
                    p 24/7 online support
        .main-container
            form#form.contact-form(method='post' action='/contact')
                .first-container
                    .main_heading
                        h1 Quick Contact
                        p.large Our experts have been featured in press numerous times.
                        hr
                    ul.login-icons
                        li
                            a.icon(href='#')
                                i.fab.fa-twitter
                        li
                            a.icon(href='#')
                                i.fab.fa-github
                        li
                            a.icon(href='#')
                                i.fab.fa-facebook-square
                    .Create
                        span back to 
                        a(href="/")  home
                .second-container
                    .inputBox 
                        input#name.fields-input(type='text', name='name', autocomplete='off', required)
                        label.fields-label(for='name') Name
                    .inputBox 
                        input#email.fields-input(type='email', name='email', autocomplete='off', required)
                        label.fields-label(for='email') Email
                    .inputBox
                        input#Subject.fields-input(type='text', name='Subject', autocomplete='off', required)
                        label.fields-label(for='Subject') Subject
                    .inputBox 
                        textarea#message.fields-input(name='message', autocomplete='off', required)
                        label.fields-label(for='message') Message
                    .app-form-group.buttons
                        button.app-form-button.mgn-lf(type="reset") CANCEL
                        button.app-form-button SEND
block foot
    include includes/foot.pug
block scripts
        script(src='../static/js/notif.js')
        script(src='../static/js/script.js')

