doctype html
html(lang="en")
  head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="../static/img/logo.png", type="image/x-icon")
        script(src='https://kit.fontawesome.com/464166b579.js')
        script(src="https://code.jquery.com/jquery-3.6.0.js")
        title=title
        block style
body
    div#loader
      h2.animate Loading...     
    block nav
    block content
    block foot
block scripts

