doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../static/css/notFound.css')
  title 404 notFound
.moon
.moon__crater.moon__crater1
.moon__crater.moon__crater2
.moon__crater.moon__crater3
.star.star1
.star.star2
.star.star3
.star.star4
.star.star5
.error
  .error__title 404
  .error__subtitle Hmmm...
  .error__description It looks like one of the developers fell asleep
  button.error__button.error__button--active
    a(href='/') HOME
  button.error__button
    a(href='/contact') CONTACT
.astronaut
  .astronaut__backpack
  .astronaut__body
  .astronaut__body__chest
  .astronaut__arm-left1
  .astronaut__arm-left2
  .astronaut__arm-right1
  .astronaut__arm-right2
  .astronaut__arm-thumb-left
  .astronaut__arm-thumb-right
  .astronaut__leg-left
  .astronaut__leg-right
  .astronaut__foot-left
  .astronaut__foot-right
  .astronaut__wrist-left
  .astronaut__wrist-right
  .astronaut__cord
    canvas#cord(height='500px' width='500px')
  .astronaut__head
    canvas#visor(width='60px' height='60px')
    .astronaut__head-visor-flare1
    .astronaut__head-visor-flare2
script(src='/static/js/notFound.js')
